<?xml version="1.0" encoding="utf-8"?>
<manifest android:versionCode="3" android:versionName="4.0.3" package="com.concentriclivers.mms.com.android.mms"
  xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-sdk android:minSdkVersion="15" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.WRITE_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INSTALL_DRM" />
    <application android:label="@string/app_label" android:icon="@mipmap/ic_launcher_smsmms" android:name="com.concentriclivers.mms.com.android.mms.MmsApp" android:taskAffinity="android.task.mms" android:allowTaskReparenting="true">
        <service android:name=".transaction.TransactionService" android:exported="true" />
        <service android:name=".transaction.SmsReceiverService" android:exported="true" />
        <activity android:theme="@style/MmsHoloTheme" android:label="@string/app_label" android:name=".ui.ConversationList" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" android:uiOptions="splitActionBarWhenNarrow">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.APP_MESSAGING" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android.cursor.dir/mms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/MmsHoloTheme" android:name=".ui.ComposeMessageActivity" android:launchMode="singleTop" android:configChanges="keyboardHidden|orientation|screenSize" android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="vnd.android-dir/mms-sms" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
                <action android:name="android.intent.action.SENDTO" />
                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />
                <data android:scheme="mms" />
                <data android:scheme="mmsto" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="video/*" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="text/plain" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MULTIPLE" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:mimeType="image/*" />
                <data android:mimeType="video/*" />
            </intent-filter>
        </activity>
        <activity-alias android:theme="@style/MmsHoloTheme" android:name=".ui.ForwardMessageActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:targetActivity=".ui.ComposeMessageActivity" android:windowSoftInputMode="stateHidden" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/delivery_report_activity" android:name=".ui.DeliveryReportActivity" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/storage_limits_activity" android:name=".ui.WarnOfStorageLimitsActivity" android:excludeFromRecents="true" />
        <activity android:theme="@android:style/Theme.Dialog" android:label="@string/change_duration_activity" android:name=".ui.EditSlideDurationActivity" />
        <activity android:theme="@style/MmsHoloTheme" android:label="@string/edit_slideshow_activity" android:name=".ui.SlideshowEditActivity" />
        <activity android:theme="@style/MmsHoloTheme" android:label="@string/edit_slide_activity" android:name=".ui.SlideEditorActivity" android:windowSoftInputMode="adjustResize" />
        <activity android:theme="@style/MmsHoloTheme" android:label="@string/slideshow_activity" android:name=".ui.SlideshowActivity" android:configChanges="keyboardHidden|orientation|screenSize" android:noHistory="true" />
        <activity android:theme="@android:style/Theme.Translucent" android:label="@string/class_0_message_activity" android:name=".ui.ClassZeroActivity" android:excludeFromRecents="true" />
        <activity android:theme="@style/MmsHoloTheme" android:label="@string/preferences_title" android:name=".ui.MessagingPreferenceActivity" android:configChanges="keyboardHidden|orientation|screenSize" />
        <receiver android:name=".transaction.PushReceiver" android:permission="android.permission.BROADCAST_WAP_PUSH">
            <intent-filter>
                <action android:name="android.provider.Telephony.WAP_PUSH_RECEIVED" />
                <data android:mimeType="application/vnd.wap.mms-message" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.MmsSystemEventReceiver">
            <intent-filter>
                <action android:name="android.intent.action.CONTENT_CHANGED" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@style/MmsHoloTheme" android:label="@string/sim_manage_messages_title" android:name=".ui.ManageSimMessages" android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />
            </intent-filter>
        </activity>
        <receiver android:name=".transaction.PrivilegedSmsReceiver" android:permission="android.permission.BROADCAST_SMS">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.SmsReceiver">
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
            <intent-filter>
                <action android:name="com.android.mms.transaction.MESSAGE_SENT" />
                <data android:scheme="content" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.SEND_MESSAGE" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.MessageStatusReceiver">
            <intent-filter>
                <action android:name="com.android.mms.transaction.MessageStatusReceiver.MESSAGE_STATUS_RECEIVED" />
            </intent-filter>
        </receiver>
        <receiver android:name=".transaction.SimFullReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SIM_FULL" />
            </intent-filter>
        </receiver>
        <receiver android:name="com.concentriclivers.mms.com.android.mms.transaction.SmsRejectedReceiver">
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_REJECTED" />
            </intent-filter>
        </receiver>
        <activity android:theme="@android:style/Theme.Dialog" android:name=".ui.ConfirmRateLimitActivity">
            <intent-filter>
                <action android:name="com.android.mms.RATE_LIMIT_SURPASSED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity android:theme="@style/MmsHoloTheme" android:label="@string/search" android:name=".ui.SearchActivity" android:configChanges="keyboardHidden|orientation|screenSize">
            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <meta-data android:name="android.app.searchable" android:resource="@xml/searchable" />
        </activity>
        <meta-data android:name="android.app.default_searchable" android:value=".ui.SearchActivity" />
        <provider android:name="SuggestionsProvider" android:readPermission="android.permission.READ_SMS" android:authorities="com.concentriclivers.mms.com.android.mms.SuggestionsProvider">
            <path-permission android:readPermission="android.permission.GLOBAL_SEARCH" android:pathPrefix="/search_suggest_query" />
            <path-permission android:readPermission="android.permission.GLOBAL_SEARCH" android:pathPrefix="/search_suggest_shortcut" />
        </provider>
        <service android:name="com.concentriclivers.mms.com.android.mms.ui.NoConfirmationSendService" android:permission="android.permission.SEND_SMS_NO_CONFIRMATION" android:exported="true">
            <intent-filter>
                <action android:name="com.android.mms.intent.action.SENDTO_NO_CONFIRMATION" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="sms" />
                <data android:scheme="smsto" />
            </intent-filter>
        </service>
        <provider android:name="com.concentriclivers.mms.com.android.mms.TempFileProvider" android:multiprocess="true" android:authorities="mms_temp_file" />
        <activity android:name="com.concentriclivers.mms.com.android.mms.ui.MiniPreferenceActivity">
            <intent-filter>
                <action android:name="com.android.mms.intent.action.MESSAGING_APP_NOTIFICATIONS" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
    </application>
</manifest>
